* {
	box-sizing: border-box;
}

body {
	color: #666;
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	width: 1000px;
}

h1 {
	font-weight: 300;
}

h2, h3, h4 {
	font-weight: 500;
}

aside {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 300px;
}

aside a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0.5em 0;
	color: #aaa;
	font-size: 13px;
}

aside a:hover {
	color: #666;
}

.caption {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4em;
	padding: 1em;
	width: 100%;
}

.caption-default {
	position: absolute;
	bottom: 0 !important;
}

.caption-overlay {
	position: absolute;
}

.text {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4em;
}

.textimage {
	position: relative;
	margin: 1em 0;
	width: 1000px;
	overflow: auto;
}

.single, .multiple {
	position: relative;
	margin: 1em 0;
	width: 1000px;
	overflow: auto;
	font-size: 0;
	line-height: 0;
}

.multiple .text {
	padding: 2rem;
}

.multiple div {
	float: left;
	position: relative;
}

.multiple-2 div { width: 50%; }
.multiple-3 div { width: 33.333333%; }
.multiple-4 div { width: 25%; }
.multiple-5 div { width: 20%; }

img {
	width: 100%;
	height: auto;
	cursor: pointer;
}

.lightbox {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.lightbox .background {
	background: #333;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.lightbox .close {
	cursor: pointer;
	font-size: 3rem;
	color: #fff;
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 3;
	font-weight: 300;
}

.lightbox .content {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 100%;
	height: 100%;	
	z-index: 2;
	width: 80%;
	height: 80%;
}

.lightbox img {
	display: block;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	width: auto;
	margin: 0 auto;
}
